<div class="card animate__animated" *ngIf="card" [ngClass]="[card.state, card.visibility, card.animate]">
    <div class="card-inner">
        <div class="card-front">
            <img src="/assets/question-mark-circle-svgrepo-com.svg" alt="Unsolved"/>
        </div>
        <div class="card-back">
            <div class='name'>{{card.name}}</div>
            <img [src]="imagePath" alt="{{card.name}}"/>
        </div>
        <div class="card-success">
            <img src="/assets/check-mark-svgrepo-com.svg" alt="Solved"/>
        </div>
    </div>
</div>
